@media (max-width: 400px)
 {
  #navbar
   {
    display: block;
    
   }
 }

 #welcome-section{
    height:100vh;
    font-size:50px;
    text-align: center;
    margin-top: 120px;
 }

@media (max-width: 400px)
 {
  #navbar
   {
    display: block;
    
   }
 }
